#About {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#About:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.project-card img {
    height: 200px;
    object-fit: cover;
}

.hero {
    background-image: url("images/benner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 70vh;
    padding: 0;


    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2;
}